.background-image{
    background-image: url('../../assets/image/Group\ 243.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
  }
.login-height{
    min-height: 39.5rem;
}
.underline-position{
  top:13px;
}
.background-email{
  background: url('../../assets/image/envelope.svg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
}
.background-key{
  background: url('../../assets/image/key.svg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
}