/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/RobotoMono.ttf')
}
body {
    font-family: 'Roboto Mono', monospace;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
.font-weight-900{
    font-weight: 900;
}
.font-size-3rem{
    font-size: 3rem;
}
.font-size-2rem{
    font-size: 2rem;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.bg-white{
    background: #fff;
}
.z-index-up{
    z-index: 999;
}
.z-index-down{
    z-index: 0;
}
.cursor-pointer{
    cursor: pointer;
}